body {
    margin: 0 auto;
}
#anmeldung {
    height: 1em;
    border-bottom: 1px solid rgb(230,230,230);
    line-height: 110%;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 60%;
    margin: 0 auto 3% auto;
}
#anmeldung a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}
#anmeldung table {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
#andmeldung table tr td {
    width: 50%;
}
.img_center {
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#content {
    width: 50%;
    margin: 0 auto;
}
#standardTextfeld{
    padding-bottom: 5%;
}
#header {
    margin: 0 auto;
    width: 60%;
}
#navigation {
    height: 10%;
    border-top: 1px solid rgb(240,240,240);
    border-bottom: 1px solid rgb(240,240,240);

}
#navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
#navigation ul li {
    display: inline;
}
#navigation ul li a {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#navigation ul li a:hover{
    background-color: black;
    transition: all 0.5s ease;
    color: white;
}
.popup-overlay {
visibility:hidden;
}

.popup-content {
visibility:hidden;
}

.popup-overlay.active{
visibility:visible;
}

.popup-content.active {
visibility:visible;
}