<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$url}styles/main.css" type="text/css">
    <link rel="shortcut icon" href="{$url}images/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!--to allow german letters such as ü,ö,ä etc-->
    <title>Scientific Programming</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {$script}
  </head>
  <body>
    <div id="header">
      <img src="{$url}images/rwth_avt_rgb.jpg" alt="avt.rwth-aachen.de">
    </div>
    <div id="content">
    {$content}
    </div>
    <div id="footer">
      version 1.0/09.04.2018
    </div>
  </body>
</html>