<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' type='text/css'>
    <link rel="stylesheet" href="{$url}styles/userdata.css" type="text/css">
    <link rel="shortcut icon" href="{$url}images/favicon.ico">
    <title>Scientific Programming</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
     <header class="container">
      <div class="row">
        <h1 class="col-sm-4">Standorte</h1>
        <nav class="col-sm-8 text-right">
          <p><a target="_blank" href="https://www.itc.rwth-aachen.de/cms/IT-Center/Lehre-Ausbildung/~letj/MATSE-Ausbildung">Aachen</a></p>
          <p><a target="_blank" href="http://www.fz-juelich.de/ias/jsc/DE/Karriere/MATSE_Bachelor/MATSE_Bachelor_node.html">Jülich</a></p>
          <p><a target="_blank" href="https://www.fh-aachen.de/fachbereiche/medizintechnik-und-technomathematik/einrichtungen/sp-studienortkoeln/">Köln</a></p>
        </nav>
      </div>
    </header>
    <section class="jumbotron">
      <div class="container">
        <div class="text-center">
          {$jumbotron}
        </div>
      </div>
    </section>
    <section class="container">
      <div class="row">
        <figure class="col-sm-6">
          <p>Duales Studium</p>
          <img src="http://www.mgm-monschau.de/data/media/images/Unbenannt-1_1370320309.jpg" />
        </figure>
        <figure class="col-sm-6">
          <p>Ausbildungsbetriebe</p>
          <img src="http://docplayer.org/docs-images/40/1747939/images/page_18.jpg" />
        </figure>
      </div>
      <div class="row">
        <figure class="col-sm-12">
          <p>Mathematisch-technische Softwareentwicklerinnen und -entwickler</p>
          <img src="https://www.itc.rwth-aachen.de/global/show_picture.asp?id=aaaaaaaaaazhuud&w=730" />
        </figure>
      </div>
    </section>
    <footer class="container">
      <div class="row">
        <p class="col-sm-4">
          &copy; 2018 Web-Engineering
        </p>
        <ul class="col-sm-8">
          <li class="col-sm-1">
            <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" />
          </li>
          <li class="col-sm-1">
            <img src="http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19759.png" />
          </li>
          <li class="col-sm-1">
            <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c521.png" />
          </li>
          <li class="col-sm-1">
            <img src="http://www.stickpng.com/assets/images/5842a8fba6515b1e0ad75b03.png" />
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>