body  {
  background-color:#FFF;
  padding: 5% 20%;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#header, #content, #footer {
  border: 1px solid black;
  width: 100%;
}
#content {
  background-color:#F7F7F7;
  border-top: 0;
  text-align: left;
  padding: 0% 5%;
}
#footer {
  background-color: #333;
  color: #fff;
  border-top: 0;
}
a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
p, input.button {
  font-size: 200%;
}
img {
  height: 5em;
}
hr {
  border: 1px solid black;
}
tab {
  padding-top: 2em;
}
.fright {
  float: right;
}